/* 
  Daniel Jaegers
  DAJ6GD
  2/26/2020
  Challenge 6: To-Do List S20 
*/

body {
  margin: 0;
  /* https://www.w3schools.com/css/css_background.asp */
  background-image: url("images/background-light.jpg");
  font-family: "Raleway", sans-serif;
  color: black;
}

/* https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp */
.dark-mode {
  background-image: url("images/background-dark.jpg");
  color: white;
}

.topBar {
  margin: 20px auto;
  width: 90%;
  height: 20px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

a {
  /* color: black; */
  text-decoration: none;
}

h1,
h4 {
  text-align: center;
}

table {
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

thead {
  display: table;
  width: 100%;
  /* width: calc(100% - 17px); */
}

tbody {
  display: block;
  height: 300px;
  overflow-y: auto;
}

th {
  font-size: large;
  border-bottom: 2px solid white;
}

th,
td {
  width: 25%;
  padding: 5px;
  word-break: break-all;
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

td {
  border-bottom: 1px solid white;
}

#errorMessage {
  visibility: hidden;
  margin: 5px auto;
  border: 2px solid red;
  padding: 10px;
  width: 200px;
  color: red;
  text-align: center;
}

#addForm {
  margin: 10px auto;
  width: 500px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
}

#addButton,
#clearButton {
  background-color: white;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#addButton {
  border: 2px solid #4caf50;
}

#clearButton {
  border: 2px solid #f44336;
}

#addButton:hover {
  background-color: #4caf50;
  color: white;
}

#clearButton:hover {
  background-color: #f44336;
  color: white;
}
