body {
  margin: 0;
  /* https://www.w3schools.com/css/css_background.asp */
  background-image: url("../images/background-light.jpg");
  font-family: "Raleway", sans-serif;
  color: black;
}

#mainWrapper {
  margin: 20px auto;
  width: 70%;
  min-height: 60vh;
  background-color: darkslategrey;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
