body {
  margin: 0;
  /* https://www.w3schools.com/css/css_background.asp */
  background-image: url("../images/background-light.jpg");
  font-family: "Raleway", sans-serif;
  color: black;
}

#mainWrapper {
  margin: 20px auto;
  width: 70%;
  min-height: 60vh;
  background-color: darkslategrey;
  border: 1px solid blue;
  text-align: center;
}

#functionSelectForm {
  display: inline-block;
  margin: 20px auto;
}

#formContainer {
    margin: 20px auto;
}

#addForm {
    margin: 10px auto;
    width: 500px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
    padding: 12px 20px;
  }
